{% extends 'base.html' %}
<!-- title -->
{% block title %}Flask Souq - Notification{% endblock %}

<!-- content block -->
{% block main %}

<!-- Notification -->
<div class="row">
    <div class="col">
        <h1>Notifications</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="{{url_for('user.all_notification')}}" class="btn btn-secondary mb-5">Show All Notification</a>
    </div>
</div>
<div class="row">
  {% if messages%}
  {% for notification in messages %}
  <div class="col-md-12">
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ notification.notification }}
    </div>
  </div>
   {% endfor %}
  {% else %}
  <div class="col my-5">
      <div class="alert alert-info">
          <h1>
              <strong> You don't have any notification yet</strong>
          </h1>
      </div>
  </div>
  {% endif %}
</div>
{% endblock %}