{% extends 'base.html' %}
<!-- title -->
{% block title %}Flask Souq - items{% endblock %}


<!-- content block -->
{% block main %}

<!-- items header -->
<h1 class="text-justify border-bottom pb-2 px-5">Latest Item to Choose</h1>
<div class="d-flex justify-content-between mb-3 px-5">
    <h3>
      Items
    </h3>
    {% if session['user']%}
    {% if session['user']['status']=='seller'%}
    <a class="btn btn-success rounded-0" href="{{url_for('item.add_item')}}">Add item</a>
    {%endif%}
    {%endif%}
    <form class="form-inline"  method="POST">
      <div class="form-group ml-5 w-50">
        {{form.categories(class='form-control')}}
      </div>
      {{form.submit(class="btn btn-primary ml-3")}}
    </form>
  </div>
  {% if session.get('user')  %}
  {% if session['user']['status']!='admin' and session['user']['status']!='seller'%}
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-between mb-3 px-5">
        <a class="btn btn-primary rounded-0" href="{{url_for('item.store')}}">Covert To Store</a>
      </div>
    </div>
  </div>
  {% endif %}
  {% endif %}

  <div class="row mb-3">
    <div class="col-sm-6 mx-auto">
      
    </div>
  </div>

<div class="row px-5">

  {% for item in items %}
  <div class="col-lg-3 col-md-6 col-sm-12">

    <!-- item card -->
    <div class="card bg-light mb-3">

        {% if item.image %}
        <img class="card-img-top px-5 py-3" style="height: 250px ;width: auto i !important;" src="{{url_for('static',filename='images/'+item.image)}}" alt="Card image cap">
        {%else%}
        <img class="card-img-top px-5 py-3" style="height: 250px; width: auto !important;" src="{{url_for('static',filename='images/defaultproduct.jpg')}}" alt="Card image cap">
        {% endif %}
      <!-- card header -->
      <div class="card-header">
        <h5 class="card-title">{{ item['title'] }}</h5>
       <h6 class="card-subtitle mb-2 text-muted"> Store Name : {{ item.store_name.first_name | title}} {{ item.store_name.last_name | title}}</h6>
      </div>

      <!-- card body -->
      <div class="card-body">
        <h2>Price: {{item.selling_price}}JD</h2>
        <p><strong>In Stock: {{item.quantity}}</strong></p>
        <p class="card-text">{{ item['content']|truncate(40, True) }}</p>
        <p class="card-text">{{ item['created'] }}</p>

        <a href="{{url_for('item.view_item', item_id = item.id)}}" class="card-link">View item</a>
        <a href="{{url_for('item.add_item_to_card', item_id = item.id)}}" class="btn btn-dark d-block w-100 rounded-0 mt-5">Add to card</a>
      </div>
    </div>
  </div>
  {%endfor%}
</div>
{% endblock %}